<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzk.oracledbwalletdemo.mapper.TestTblMapper">
  <resultMap id="BaseResultMap" type="com.mzk.oracledbwalletdemo.pojo.TestTbl">
    <!--@mbg.generated-->
    <!--@Table TEST_TBL-->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, "NAME"
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from TEST_TBL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    <!--@mbg.generated-->
    delete from TEST_TBL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.mzk.oracledbwalletdemo.pojo.TestTbl" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into TEST_TBL ("NAME")
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.mzk.oracledbwalletdemo.pojo.TestTbl" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into TEST_TBL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        "NAME",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mzk.oracledbwalletdemo.pojo.TestTbl">
    <!--@mbg.generated-->
    update TEST_TBL
    <set>
      <if test="name != null">
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mzk.oracledbwalletdemo.pojo.TestTbl">
    <!--@mbg.generated-->
    update TEST_TBL
    set "NAME" = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>